.backGround {
    -fx-background-color: #8E3EDD;
}
.table {
    -fx-background-color: #E0DDF2;
    -fx-background-radius: 5pt;
    -fx-alignment: center;
}
.date-picker {
    -fx-font: System;
    -fx-background-color: #8E3EDD;
    -fx-control-inner-background: #8E3EDD;
    -fx-border-color: #E0DDF2;
    -fx-border-radius: 5pt;
    -fx-border-width: 1.5pt;
    -fx-prompt-text-fill: #fefdfd;
    -fx-text-fill: #fefdfd;
    -fx-font-size: 12pt;
}
.date-picker:hover, .date-picker:focused {
    -fx-control-inner-background: #9370DB;
    -fx-text-fill: #fefdfd;
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
}
.date-picker .text-field {
    -fx-text-fill: #fefdfd;
}
.date-picker:hover .text-field, date-picker:focused .text-field, date-picker:selected .text-field{
    -fx-text-fill: #fefdfd;
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
    -fx-control-inner-background: #9370DB;
}
.date-picker .arrow-button {
    -fx-background-color: transparent;
}
.date-picker .arrow-button:hover {
    -fx-background-color: #fefdfd;
}
.date-picker .arrow-button .arrow {
    -fx-background-color: white;
}
.date-picker .arrow-button:hover .arrow {
    -fx-background-color: #9370db;
}
.date-picker .selected {
    -fx-background-color: #9370db;
    -fx-text-fill: white;
}
.date-picker .cell {
    -fx-background-color: white;
}
.date-picker .cell:hover {
    -fx-background-color: #B89AE1;
}
.date-picker .cell:focused {
    -fx-background-color: #B89AE1;
}
.date-picker .selected {
    -fx-background-color: #9370db;
    -fx-text-fill: white;
}
.date-picker .selected:focused {
    -fx-background-color: #8e3edd;
    -fx-text-fill: white;
}
.date-picker-popup  {
    -fx-border-color: transparent;
}
.date-picker-popup .month-year-pane {
    -fx-background-color: #8e3edd;
}
.date-picker-popup .month-year-pane .label {
    -fx-text-fill: white;
}
.date-picker-popup .week-number-cell {
    -fx-text-fill: #8e3edd;
}

.date-picker-popup .week-number-cell:hover, .date-picker-popup .week-number-cell:focused {
    -fx-text-fill: #fefdfd;
}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
    -fx-background-color: white;
}
.date-picker-popup .spinner .button .left-arrow:hover,
.date-picker-popup .spinner .button .right-arrow:hover {
    -fx-background-color: #0d0d0d;
}
.date-picker-popup .spinner .button,
.date-picker-popup .spinner .button {
    -fx-background-color: transparent;
}
/*Start-up*/
.menu-bar {
    -fx-background-color: #fefdfd;
    -fx-font-family: System;
}

.menu-bar .menu-item:focused, .menu:showing, .menu:hover {
    -fx-background-color: #B89AE1;
}
#currency {
    -fx-background-radius: 5pt;
    -fx-background-color: #0d0d0d;
    -fx-text-fill: #fefdfd;
}

#currency .list-cell {
    -fx-background-color: #0d0d0d;
    -fx-text-fill: #fefdfd;
}

#payer {
    -fx-background-radius: 5pt;
    -fx-background-color: #8e3edd;
    -fx-border-color: #e0ddf2;
    -fx-border-radius: 5pt;
    -fx-border-width: 1.5pt;
    -fx-text-fill: #fefdfd;
    -fx-font-size: 12pt;
}
.blackButton {
    -fx-background-radius: 5pt;
    -fx-background-color: #0d0d0d;
    -fx-font-weight: bold;
    -fx-text-fill: #fefdfd;
    -fx-cursor: hand;
}

.text-field-splitty {
    -fx-background-color: transparent;
    -fx-prompt-text-fill: #fefdfd;
    -fx-border-color: #e0ddf2;
    -fx-border-radius: 5pt;
    -fx-border-width: 1.5pt;
    -fx-text-fill: #fefdfd;
    -fx-font-size: 12pt;
}
.text-field-splitty:focused, .text-field-splitty:hover {
    -fx-font-size: 13pt;
}

/*Event overview*/
.borderPane {
    -fx-background-color: #8e3edd;
}
.title {
    -fx-text-fill: #fefdfd;
    -fx-font-weight: bold;
}
.event-cell, .participant-cell {
    -fx-background-color: #E0DDF2;
    -fx-border-color: transparent;
    -fx-padding: 10;
    -fx-background-radius: 10;
    -fx-font-family: System;
    -fx-font-size: 18px;
}

.expense-cell {
    -fx-background-color: #8A2BE2;
    -fx-border-color: transparent;
    -fx-padding: 10;
    -fx-background-radius: 10;
    -fx-font-family: System;
    -fx-font-size: 18px;
}

.combo-box {
    /*-fx-selection-bar: "midnightblue";*/
    -fx-selection-bar-text-fill: "white";
}
.event-cell:hover {
    -fx-background-color: #8A2BE2;
    -fx-cursor: hand;
}

.list-cell {
    -fx-background-color: transparent;
}

.list-cell:focused .event-cell {
    -fx-background-color: #8A2BE2;
}

.bottom-BG {
    -fx-background-color: radial-gradient(center 96.2% 89.9%, radius 100%,  rgb(142, 62, 221)  0%, rgb(51, 21, 117) 92%);
}
.button-edit-normal {
    -fx-background-image: url('/client/scenes/editbutton-white.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}
.button-add {
    -fx-background-image: url('/client/scenes/plus-white.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

.button-edit {
    -fx-background-image: url('/client/scenes/editing.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

.button-delete {
    -fx-background-image: url('/client/scenes/delete.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}
.button-delete-normal {
    -fx-background-image: url('/client/scenes/delete-white.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

.button-edit:hover, .button-delete:hover, .button-edit:focused, .button-delete:focused {
    -fx-background-color: #CFBDFF;
    -fx-cursor: hand;
}

.button-add:focused, .button-add:hover,
.button-edit-normal:hover, .button-edit-normal:focused,
.button-delete-normal:hover, .button-delete-normal:focused {
    -fx-background-color: #9370DB;
    -fx-cursor: hand;
}

.choice-box-normal {
    -fx-font-family: System;
    -fx-cursor: hand;
    -fx-background-radius: 5pt;
    -fx-background-color: #8e3edd;
    -fx-border-color: #e0ddf2;
    -fx-border-radius: 5pt;
    -fx-border-width: 1.5pt;
    -fx-text-fill: #fefdfd;
    -fx-font-size: 12pt;
}
.choice-box .label {
    -fx-text-fill: white;
    -fx-font: System;
}
.combo-box .arrow,
.choice-box .arrow {
    -fx-background-color: #fefdfd;
}
.combo-box-base {
    -fx-background-color: transparent;
    -fx-background-radius: 5pt;
    -fx-border-color: #e0ddf2;
    -fx-border-radius: 5pt;
    -fx-border-width: 1.5pt;
    -fx-font-size: 16;
}
.combo-box-base .combo-box {
    -fx-border-width: 0pt;
}

.combo-box-base:hover, .combo-box-base:focused {
    -fx-background-color: #9370DB;
}

.choice-box > .list-cell {
    -fx-text-fill: white;
}

.combo-box>.list-cell {
    -fx-text-fill: white;
}

.choice-box-normal:hover, .choice-box-normal:focused {
    -fx-background-color: #9370DB;
}

.text {
    -fx-text-fill: #fefdfd;
}
.toggle-button {
    -fx-background-color: #e0ddf2;
    -fx-font-size: 16px;
    -fx-background-radius: 5pt 5pt 0 0;
}

.toggle-button:focused {
    -fx-background-color: #CFBDFF;
    -fx-cursor: hand;
    -fx-text-fill: #0d0d0d;
    -fx-font-weight: bolder;
}
.toggle-button:hover {
    -fx-background-color: #CFBDFF;
    -fx-cursor: hand;
    -fx-text-fill: #0d0d0d;
}

.toggle-button:selected {
    -fx-background-color: #CFBDFF;
    -fx-cursor: hand;
    -fx-text-fill: #0d0d0d;
}


