.backGround {
    -fx-background-color: #8E3EDD;
}
.table {
    -fx-background-color: #E0DDF2;
    -fx-background-radius: 5pt;
    -fx-alignment: center;
}
.date-picker {
    -fx-background-color: #8E3EDD;
    -fx-control-inner-background: #8E3EDD;
    -fx-border-color: #E0DDF2;
    -fx-border-radius: 5pt;
    -fx-border-width: 1.5pt;
    -fx-prompt-text-fill: #fefdfd;
    -fx-text-fill: #fefdfd;
}
/*Start-up*/
.menu-bar {
    -fx-background-color: #fefdfd;
    -fx-font-family: Arial;
}

.menu-bar .menu-item:focused, .menu:showing, .menu:hover {
    -fx-background-color: #B89AE1;
}
#currency {
    -fx-background-radius: 5pt;
    -fx-background-color: #0d0d0d;
    -fx-text-fill: #fefdfd;
}

#currency .list-cell {
    -fx-background-color: #0d0d0d;
    -fx-text-fill: #fefdfd;
}

#payer {
    -fx-background-radius: 5pt;
    -fx-background-color: #8e3edd;
    -fx-border-color: #e0ddf2;
    -fx-border-radius: 5pt;
    -fx-border-width: 1.5pt;
    -fx-text-fill: #fefdfd;
    -fx-font-size: 12pt;
}
.blackButton {
    -fx-background-radius: 5pt;
    -fx-background-color: #0d0d0d;
    -fx-font-weight: bold;
    -fx-text-fill: #fefdfd;
    -fx-cursor: hand;
}

.text-field-splitty {
    -fx-background-color: transparent;
    -fx-prompt-text-fill: #fefdfd;
    -fx-border-color: #e0ddf2;
    -fx-border-radius: 5pt;
    -fx-border-width: 1.5pt;
    -fx-text-fill: #fefdfd;
    -fx-font-size: 12pt;
}
.text-field-splitty:focused {
    -fx-font-size: 13pt;
}

/*Event overview*/
.borderPane {
    -fx-background-color: #8e3edd;
}
.title {
    -fx-text-fill: #fefdfd;
    -fx-font-weight: bold;
}
.event-cell, .participant-cell {
    -fx-background-color: #E0DDF2;
    -fx-border-color: transparent;
    -fx-padding: 10;
    -fx-background-radius: 10;
    -fx-font-family: Arial;
    -fx-font-size: 18px;
}

.participant-cell:hover {
    -fx-background-color: #331575;
    -fx-cursor: hand;
    -fx-text-fill: #fefdfd;
}
.combo-box {
    /*-fx-selection-bar: "midnightblue";*/
    -fx-selection-bar-text-fill: "white";
}
.event-cell:hover {
    -fx-background-color: #8A2BE2;
    -fx-cursor: hand;
}

.list-cell {
    -fx-background-color: transparent;
}

.list-cell:focused .event-cell {
    -fx-background-color: #8A2BE2;
}

.bottom-BG {
    -fx-background-color: radial-gradient(center 96.2% 89.9%, radius 100%,  rgb(142, 62, 221)  0%, rgb(51, 21, 117) 92%);
}

.purpleButton {
    -fx-background-color: #9370DB;
    -fx-cursor: hand;
}

.purpleButton:hover, .purpleButton:focused {
    -fx-background-color: #8A2BE2;
}

.button-add {
    -fx-background-image: url('/client/scenes/plus.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;

}

.button-edit {
    -fx-background-image: url('/client/scenes/editing.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

.button-delete {
    -fx-background-image: url('/client/scenes/delete.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;

}

.button-add:hover, .button-edit:hover, .button-delete:hover,
.button-add:focused, .button-edit:focused, .button-delete:focused {
    -fx-background-color: #9370DB;
    -fx-cursor: hand;
}

.choice-box-normal {
    -fx-font-family: Arial;
    -fx-cursor: hand;
    -fx-background-radius: 5pt;
    -fx-background-color: #8e3edd;
    -fx-border-color: #e0ddf2;
    -fx-border-radius: 5pt;
    -fx-border-width: 1.5pt;
    -fx-text-fill: #0d0d0d;
    -fx-font-size: 12pt;
}
.choice-box>.list-cell {
    -fx-text-fill: white;
}
.combo-box>.list-cell {
    -fx-text-fill: white;
}

.choice-box-normal:hover, .choice-box-normal:focused {
    -fx-background-color: #9370DB;
}

/*.list-view:focused {*/
/*    -fx-background-color: radial-gradient(center 96.2% 89.9%, radius 100%,  rgb(184, 154, 225)  0%, rgb(51, 21, 117) 92%);*/
/*}*/
.toggle-button {
    -fx-background-color: #e0ddf2;
    -fx-font-size: 16px;
    -fx-background-radius: 5pt 5pt 0 0;
}

.toggle-button:focused {
    -fx-background-color: #CFBDFF;
    -fx-cursor: hand;
    -fx-text-fill: #0d0d0d;
    -fx-font-weight: bolder;
}
.toggle-button:hover {
    -fx-background-color: #CFBDFF;
    -fx-cursor: hand;
    -fx-text-fill: #0d0d0d;
}

.toggle-button:selected {
    -fx-background-color: #CFBDFF;
    -fx-cursor: hand;
    -fx-text-fill: #0d0d0d;
}


